.App {
  text-align: center;
  color:white;
}

body{
  background-color: #26262d;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navBar{
  background:#544a4b;
  height: 100px;
  display:flex;
  justify-content: space-evenly;
  .searchBarAndText,.newBarAndText,.manualBarAndText{
    padding:0 15px;
    .searchIcon,.newIcon,.manualIcon{
      height: 60px;
      padding-top: 10px;
    }
    p{
      color:white;
      margin:0;
    }
    a{
      text-decoration: none;
    }
  }
  .buttonHighlight{
    background-color:grey;
  }
}

.searchPage{
  height: 100vh;
  .searchArea{
    input{
      width:90%;
      height:2rem;
      padding-left:15px;
      font-size:1.5rem;
      @media(min-width:1024px){
        width:60%;
      }
    }
    button{
      height: 2.5rem;
      width:120px;;
      margin:15px 0;
      background:#544a4b;
      color:white;
      border:none;
      border-radius:5px;
      cursor: pointer;
      @media(min-width:1024px){
        display:block;
        margin:15px auto;

      }
    }
  }

  hr{
    margin:0;
  }

  .dbResults{
    .singleDBResult{
      @media(min-width:768px){
        display:flex;
        justify-content: space-evenly;
      }
      h3{
        margin-bottom:10px;
      }
      p{
        margin-top:0px;
      }
      button{
        height: 2.5rem;
        width:120px;
        display:block;
        margin:15px auto;
        color:white;
        border:none;
        border-radius:5px;
        cursor: pointer;
      }
      .buttonOwned{
        background-color: green;
      }
      .buttonNotOwned{
        background-color: red;
      }
      .singleDBResult__text{
        @media(min-width:768px){
          max-width:500px;
        }
      }
      .singleDBResult__pic{
        @media(min-width:768px){
          width: 250px;
        }
        img{
          max-width: 60%;
          margin: 18px 0;

        }
      }
    }
  }
}

.addNew{
  height: 100vh;
  input{
    width:90%;
    height:2rem;
    padding-left:15px;
    font-size:1.5rem;
  }
  button{
    height: 2.5rem;
    width:120px;
    display:block;
    margin:15px auto;
    color:white;
    border:none;
    border-radius:5px;
    cursor: pointer;
  }
  .buttonSearch{
    background-color:#544a4b;
  }

  .searchUPCResults{
    .discRadios{
      display:flex;
      justify-content: space-evenly;
    }
    img{
      max-width: 90%;
    }
    .buttonOwned{
      background-color: green;
    }
    .buttonNotOwned{
      background-color: red;
    }
  }

}

.manualAdd{
  .discRadios{
    display:flex;
    justify-content: space-evenly;
    height:75px;
    margin-top:15px;
  }
  input{
    width:90%;
    height:2rem;
    padding-left:15px;
    font-size:1.5rem;
  }
  button{
    height: 2.5rem;
    width:120px;
    display:block;
    margin:15px auto;
    color:white;
    border:none;
    border-radius:5px;
    cursor: pointer;
  }
  .buttonOwned{
    background-color: green;
  }
  .previewPic{
    img{
      max-height: 250px;
    }
  }
}

canvas.drawing, canvas.drawingBuffer {
  position: absolute;
  left: 0;
  top: 0;
}